/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /*primary colors*/
  --strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --very-darl-cyan-fade: rgb(6, 90, 95);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-orange: rgb(228, 146, 15);
  --white: hsl(0, 0%, 100%);
  /* other */
  --ff-primary: 'Space Mono', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--light-grayish-cyan);
  color: var(--clr-grey-1);
}
img {
  width: 100%;
  display: block;
}

main {
  min-height: 100vh;
  display: grid;
}
main .title {
  text-align: center;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  font-size: 2.5rem;
}

.tip-container {
  background: var(--white);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 1.5rem;
}
.tip-container h2 {
  color: var(--very-dark-cyan);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/*
=============== 
Inputs
===============
*/
.tip-container input {
  width: 100%;
  height: 1rem;
  border: transparent;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 0.25rem;
  color: var(--very-dark-cyan);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.25rem 1.5rem;
  text-align: right;
  background-position: 0.625rem 0.75rem;
  background-repeat: no-repeat;
  font-family: var(--ff-primary);
}

.amount {
  background-image: url('../images/icon-dollar.svg');
}
.people {
  background-image: url('../images/icon-person.svg');
}
.tip-input {
  margin-bottom: 1.5rem;
}
/*
=============== 
Tips percentage
===============
*/
.tip-percentage {
  color: white;
  background: var(--very-dark-cyan);
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}
.active {
  color: var(--very-dark-cyan);
  background: var(--strong-cyan);
}
.tip-percentage:last-child {
  background: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  text-transform: capitalize;
}
.tips-percentage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.tip-number {
  margin-bottom: 1.5rem;
}
.tips-percentage input {
  text-align: center;
  border-radius: 0.4rem;
}

/*
=============== 
Result
===============
*/
.tip-result {
  background: var(--very-dark-cyan);
  padding: 2rem 1rem;
  border-radius: 1rem;
}
.tip-btn {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: transparent;
  background-color: var(--very-darl-cyan-fade);
  color: var(--dark-grayish-cyan);
  font-family: var(--ff-primary);

  font-size: 1.5rem;
  cursor: pointer;
}
.btn-active {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
.tip-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}
.tip-display h3 {
  text-transform: capitalize;
  color: var(--white);
}
.tip-display h1 {
  color: var(--strong-cyan);
  font-size: 2rem;
}
.tip-display p {
  color: var(--dark-grayish-cyan);
}
@media screen and (min-width: 992px) {
  .tip-result {
    padding: 3rem;
  }
}

/*
=============== 
Responsive
===============
*/
@media screen and (min-width: 768px) {
  main {
    display: grid;
    place-items: center;
  }

  .tip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    border-radius: 1rem;
    max-width: 75vw;
    padding: 2rem 3rem;
  }
  .tip-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .tips-percentage {
    grid-template-columns: repeat(3, 1fr);
  }
  .tip-container {
    width: 65vw;
    max-width: 950px;
  }
}

/* Remove Arrows/Spinner on input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
